/cmd/check-duplicate-transactions/check-duplicate-transactions
/cmd/create-index-snapshot/create-index-snapshot
/cmd/flow-dps-client/flow-dps-client
/cmd/flow-dps-indexer/flow-dps-indexer
/cmd/flow-dps-live/flow-dps-live
/cmd/flow-dps-server/flow-dps-server
/cmd/restore-index-snapshot/restore-index-snapshot
/bootstrap/
/data/
/flow-go/
/index/
/trie/
/samples/
*.cdc
*.checkpoint
*.log
