/cmd/check-duplicate-transactions/check-duplicate-transactions
/cmd/create-index-snapshot/create-index-snapshot
/cmd/flow-access-server/flow-access-server
/cmd/flow-dps-client/flow-dps-client
/cmd/flow-dps-indexer/flow-dps-indexer
/cmd/flow-dps-server/flow-dps-server
/cmd/flow-rosetta-server/flow-rosetta-server
/cmd/restore-index-snapshot/restore-index-snapshot
/data/
/index/
/trie/
*.cdc
*.log
*.checkpoint
dist/
